<!-- views/partials/feed.ejs -->
<div class="post">
    <div class="post-header">
      <% if (post.userId) { %>
        <img src="/uploads/<%= post.userId.profilePic || 'defaultProfilePic.jpg' %>" alt="Profile">
        <span><%= post.userId.username %></span>
      <% } else { %>
        <p>Unknown User</p>
      <% } %>
    </div>
    <img src="<%= post.postImage %>" class="post-img">
    <p><%= post.caption %></p>
  </div>
  