<div class="sidebar">
  <div class="logo">Instagram</div>
  <nav class="nav-links">
    <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
    <a href="/search"><i class="fas fa-search"></i> Search</a>
    <a href="#"><i class="fas fa-compass"></i> Explore</a>
    <a href="/reels/upload"><i class="far fa-play-circle"></i> Reels</a>
    <a href="/chat"><i class="far fa-paper-plane"></i> Messages</a>

    <div class="notification-wrapper">
      <a href="/notifications">
        <i class="far fa-heart"></i> Notifications
         <% if (typeof unreadCount !== 'undefined' && unreadCount > 0) { %>
        <span class="badge"><%= unreadCount %></span>
      <% } %>
      </a>
      <a href="/auth/logout">Logout</a>
    </div>

    <a href="/posts/upload"><i class="far fa-plus-square"></i> Create</a>
    <a href="/profile"><i class="far fa-user-circle"></i> Profile</a>
    <a href="#"><i class="fas fa-bars"></i> More</a>
  </nav>
</div>
